WPFDesignTimeDemo/SampleData/SampleDataSource1/SampleDataSource1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SampleDataSource1" targetNamespace="Expression.Blend.SampleData.SampleDataSource1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource1" type="tns:SampleDataSource1" />
  <xs:complexType name="SampleDataSource1">
    <xs:sequence>
      <xs:element name="MyCollection" type="tns:MyCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MyCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="MyCollectionItem" type="tns:MyCollectionItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MyCollectionItem">
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="IsDeleted" type="xs:boolean" />
  </xs:complexType>
</xs:schema>